.shared-grid {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
    max-height: 500px;
  }
  .shared-grid-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }